h1 {
    color: gold;
    font-style: italic;
    font-size: 80px;
}
h2 {
    color: gold;
    font-style: italic;
    font-size: 80px;
}
h3 {
    color: gold;
    font-style: italic;
    font-size: 80px;
}